@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Norican|Montserrat');

html {
  background: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: auto;
}
.header {
  width: 100%;
  max-width: 1280px;
  min-width: 480px;
  display: flex;
  flex-direction: column;
}
.header .header-section1 {
  background: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family:  'Norican', cursive;
  color: #fff;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 1px;
}
