@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Norican|Montserrat');

html {
  background: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: auto;
}
/* Header */
.header {
  width: 100%;
  /* max-width: 1280px; */
  min-width: 480px;
  display: flex;
  flex-direction: column;
}
.header-item {
  display: flex;
}
#cart, #search {
  padding: 1em;
}
#cart i, #search i {
  color: #fff;
}
.header .header-section1 {
  background: #324AC0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
}
nav a {
  color: #fff;
}
nav a:hover, nav a:focus {
  color: #7b7b7b;
  text-decoration: none;
}
nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.logo {
  font-family:  'Norican', cursive;
  color: #fff;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 1px;
}
.header .header-section2 {
  color: #fff;
  background: #0021c4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-top: 2em;
}
.breadcrumb {
  background-color: inherit;
  padding-bottom: 5.5em;
}
.breadcrumb li a{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
ul.breadcrumb > li:nth-child(n+2)::before {
    content: "\f0da"; /* chevron-right */
    font-family: Fontawesome;
}
/* First Banner */
.banner-1 {
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.banner-1 .banner-right {
  display: flex;
  flex: 2;
  background-image: url('img/banner1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner-right .banner-info, .banner-left .banner-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5%;
  color: #fff;
}
.banner-1 .banner-left {
  display: flex;
  flex: 1;
  background-image: url('img/banner2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 6em;
}
.banner-info .banner-button {
  box-sizing: border-box;
  border-color: #cab5a4;
  font-size: 2rem;
  margin: 20px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 3em;
  color: #cab5a4;
  text-decoration: none;
  background: #fff;
  font-weight: bolder;
}
.banner-info .banner-subtitle {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}
.banner-info .banner-category {
  color: #fff;
  letter-spacing: 0.5rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
/* Container witj filters and catalog */
.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin:0;
}
.main-content .row {
  margin: 0;
}
.main-content .first-part {
  flex: 1;
  font-family: 'Montserrat', sans-serif;
}
.main-content .second-part {
  flex: 3;
}
/* Sidebar */
.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.side-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.side-filter .filter-item, .filter-horisontal .filter-item {
  padding: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid #ddd;
}
.filter-category, .filter-size {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 2px solid #ddd;
}

.filter-categ-content ul li {
  list-style: none;
  margin: 1em 0;
}
.filter-categ-header, .filter-size-header {
  font-size: 1.5rem;
  font-weight: bolder;
}
.filter-size-content {
  display: flex;
  justify-content: center;
}
.filter-size-content .fzc-item {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}
/* Filter */
.filter-horisontal .sort-price, .filter-horisontal .view-limit {
  display: flex;
}
.filter-item .select-limit {
  border: none;
  display: flex;
}
#grid-view, #list-view {
  text-align: center;
}
#filter-button {
  width: 100%;
  background-color: #3853d8;
  color: #fff;
}
/* Catalog */
.catalog {
  display: flex;
  flex-wrap: wrap;
}
.catalog .prod-image {
  display: flex;
  flex: 2;
}
.catalog .prod-badge {
  display: flex;
  flex: 1;
}
.i-product {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 3rem;
  border: 2px solid #ddd;
}
.prod-1part, .prod-2part, .prod-3part, .prod-price {
  display: flex;
  padding: 1rem;
}
.prod-1part {
  display: flex;
  padding-bottom: 2rem;
}
.prod-img {
  flex: 2;
}
.prod-badge {
  flex: 1;
  height: 2.5rem;
  padding: 0 1rem;
}

.prod-badge .badge-button {
  box-sizing: border-box;
  text-align: center;
  border-radius: 0.5em;
  color: #fff;
  background: #3853d8;
  font-weight: bolder;
}

.prod-title {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Playfair Display', serif;
  font-size: 1.7rem;
  padding: 0;
}

.prod-price {
  padding: 0;
  padding-bottom: 1rem;
  font-size: 0.8em;
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Montserrat', sans-serif;
}
.prod-price .old-price {
  color: #999;
}
.prod-price .new-price {
  color: #3853d8;
}
.quantity-button {
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 35%;
  color: #000;
  background: #f7f7f7;
  font-weight: bolder;
  padding: 1rem 1.5rem;
}

.prod-add-bag {
  padding: 0;
}

.prod-add-bag .cart-button {
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 35%;
  color: #fff;
  background: #3853d8;
  font-weight: bolder;
  padding: 1rem 1rem;
}
/* Pagination */
.pagination ul li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 8px 16px;
  transition: background-color .3s;
  text-decoration: none;
  border: 1px solid #ddd;
}
.pagination ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.pagination a.active {
  background: #3853d8;
  color: #fff;
  border: 1px solid #3853d8;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagination li:nth-child(2), .pagination li:nth-child(8) {
  width: 30em;
}
/* Second Banner */
.hero-image {
  height: 24rem;
  background-image: url('img/banner3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.himg-info {
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.himg-text {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.5em;
  border: 0.25em solid #fff;
  border-radius: 1em;
  color: #fff;
}
.himg-text  .himg-subtitle {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}
.himg-text  .himg-category {
  letter-spacing: 0.5rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
/* Sponsor section  */
.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

/* Footer section */
.footer {
  color: #fff;
  padding-top: 2rem;
  background: #363637;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  padding-top: 1em;
  padding-left: 7em;
}
.footer-item {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 1.3rem;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.social .active {
  color: #fff;
}
.social i {
  color: #999999;
  font-size: 1.1em;
  padding: 1em;
}
.social i:hover {
  color: white;
}
.subscription {
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.subs-form {
  padding-top: 2em;
}
input[type=text], input[type=submit] {
  padding: 1.3rem;
  font-size: 0.85em;
  font-weight: bolder;
  box-sizing: border-box;
}
input[type=text] {
  width: 100%;
}
input[type=submit] {
  color: #000;
  background: #fff;
  width: 80%;
}
.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#contact-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding-bottom: 2em;
}
.cards {
  flex: 1;
}
.cards ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cards ul li {
  padding: 0.5em;
  font-size: 1.5em;
}
