@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Norican|Montserrat');

html {
  background: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: auto;
}
.header {
  width: 100%;
  /* max-width: 1280px; */
  min-width: 480px;
  display: flex;
  flex-direction: column;
}
.header-item {
  display: flex;
}
#cart, #search {
  padding: 1em;
}
#cart i, #search i {
  color: #fff;
}
.header .header-section1 {
  background: #324AC0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  display: flex;
}
nav a {
  color: #fff;
}
nav a:hover, nav a:focus {
  color: #7b7b7b;
  text-decoration: none;
}
nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.logo {
  font-family:  'Norican', cursive;
  color: #fff;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 1px;
}
.header .header-section2 {
  color: #fff;
  background: #0021c4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-top: 2em;
}
.breadcrumb {
  background-color: inherit;
  padding-bottom: 5.5em;
}
.breadcrumb li a{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
ul.breadcrumb > li:nth-child(n+2)::before {
    content: "\f0da"; /* chevron-right */
    font-family: Fontawesome;
}
