#facebookIcon {
  color: rgb(59, 89, 152);
}
#githubIcon{
  color: rgb(102,43,129);
}
#freecodecampIcon{
  color: #006600;
}
#codeacademyIcon{
  color: #204056;
}
#contact{
  color: black;
  padding-bottom: 5%;
}
#footerbutton{
  padding-bottom: 7%;
}

.nav-pills {
  font-family: Lobster;
  font-size: 170%;
  background-color: black;
}

body{
  background-color:#ccffff;
  font-family: Lobster;
  color: #b8b894;
}
.btn-default {
  background-color: #d6d6c2;
  border-color: blue;
  font-size: 1.4em;
}
h1{
  padding:0px;
  margin-top: 0px;
  font-size: 6.0em;
}
.pageFour h2{
  padding-bottom:5%;
}
hr{ width:50%;
    height:1px;
  }
p{
  font-size:1.7em;
  color:  #ffd11a;
}
.first{
  padding: 3.0em;
}
.foto{
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.7em;
}
.pagetext {
  padding: 3%;
}
.paddingBTN{
  padding-top: 25px;
  width:200px;
  margin-bottom:25px;
}
.footer p{
  font-size: 20px;
  color: white;
}
.footer{
  background-color:  #8585ad;
}
.pageOne{
  background-image:  url("http://25.media.tumblr.com/tumblr_m9vk26hgXz1qhaynao1_1280.jpg");
  background-size: cover;
  height: 800px;
}
.photoPage{
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.photo1{
  padding: 5%;
  height: 400px;
  width: 500px;
}
.pageTwo{
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTyEyJ6KScJgRljzuucMQDXhEvFN9Wj1lTINeIJQxvKWH0Yg9TZww");
  background-size: cover;
  height: 800px;
  padding-top: 5%;
}
.pageThree{
  background-image:  url("https://www.hdwallpapers.net/previews/cosmic-cube-969.jpg");
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}
.pageFour{
  background-image:  url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSShHhfIVKdUQZvHT6SOUr0qBIIQ9nF1V7zvLXdty4XKuKM5tQ8BQ");
  background-size: cover;
  padding-top: 5%;


}
